@import "../../assets/styles/main.scss";

.track {
  margin-bottom: 10px;
}

.content {
  text-align: left;
}

.name {
  margin: 0 0 5px 0;
  font-size: 14px;
  a {
    color: #333;
  }
}

.artistName {
  margin: 0;
  font-size: 14px;
}
