$backgrond-color: #fff;
$border-color: #d9dadc;
$color: #2e2f33;

.header {
  background: $backgrond-color;
  border-bottom: 1px solid $border-color;
  padding: 10px 0;
  text-align: center;

  .logo {
    color: $color;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    text-decoration: none;
    display: inline-block;
    padding: 5px 0 4px;
  }
}

.avatar {
  border-radius: 50%;
  cursor: pointer;
}

.menu {
  position: absolute;
  right: 0;
  top: 54px;
  background: #fff;
  border: 1px solid #ddd;
  ul {
    list-style: none;
    padding: 10px;
    margin: 0;
    li {
      cursor: pointer;
      font-size: 14px;
      color: $color;
      padding: 10px;
      border-bottom: 1px solid #ddd;
      &:last-child {
        border-bottom: none;
      }
      :hover {
        color: #ddd;
      }
      a {
        color: $color;
        text-decoration: none;
      }
    }
  }
}
